/* Tổng quan */
.findwork {
  background-color: #f8f9fa;
  min-height: 100vh;
  padding-bottom: 30px; /* Để khoảng trống cho phân trang */

  .findwork-content {
    margin: 20px auto;
    max-width: 1200px;
  }

  /* Phần tìm kiếm */
  .search-section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .input-group .form-control {
    height: 50px;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
  }

  .input-group .btn {
    height: 50px;
    font-size: 16px;
    border-radius: 0 8px 8px 0;
  }

  .input-group .btn:hover {
    background-color: #e84118;
  }

  /* Danh sách công việc */
  .recommendations h2,
  .suggested-jobs h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    min-height: 230px;
    max-height: 230px;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }

  .card-body {
    padding: 15px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  .card-text {
    font-size: 14px;
    color: #666;
  }

  .card a {
    text-decoration: none;
  }

  .card a:hover .card-title {
    color: #007bff;
  }

  /* Phân trang */
  .pagination {
    margin-top: 20px;
  }

  .pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .pagination .page-link {
    color: #007bff;
  }

  .pagination .page-link:hover {
    color: #0056b3;
  }

  /* Collapse */
  button.btn-info {
    background-color: #007bff;
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 50px;
  }

  button.btn-info i {
    font-size: 16px;
  }
}
